:root{
    --color: orange;
}

body{
    background-color: #2B2B2B;
    color: white;
    font-family: sans-serif;
}

header{
    text-align: center;
    padding-bottom: 30px;
}

h1{
    color: white;
    font-size: 20px;
}

a{
    color: white;
}

hr{
    border-color: var(--color);
}

p{
    color: white;
}

input[type=text] {
    background: transparent;
    border: none;
    color: white;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 5px solid var(--color);
    width: 23rem;
    max-width: 95%;
    transition: width, 0.1s;
    text-align: center;
    caret-color: var(--color);
}

input:focus{
    outline: none;
    width: 25rem;
    border-bottom: 3px solid var(--color);
}

.thething{
    font-size: 40px;
    text-align: center;
}
.incontainer{
    text-align: center;
    padding-bottom: 200px;
}

.result{
    text-align: center;
    padding-bottom: 200px;
}

::selection {
    background: var(--color);
  }
  ::-moz-selection {
    background: var(--color);
  }

main{
    padding: 25px
}

.noline{
    text-decoration: none;
}